tr > * {
    padding: .5rem;
}

td {
    vertical-align: middle;
    width: 0;
}

table {
    border-spacing: 0px;
}

.progress-box-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    width: 15rem;
    flex-direction: column;
}