.context-menu-item {
    padding: .5rem;
    border-bottom: 1px solid var(--input-border-color);
}

.context-menu-item:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}

.context-menu {
    border-left: 1px solid var(--input-border-color);
    border-right: 1px solid var(--input-border-color);
    border-top: 1px solid var(--input-border-color);
    background-color: var(--basic-button-bg-color);
}