@font-face {
    font-family: 'Archivo';
    src: url(./assets/fonts/Archivo-Regular.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(./assets/fonts/NotoSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-color-1);
}

input, button {
    all: unset;
}

button {
    cursor: pointer;
}

.panel {
    padding: 1.5rem;
    border-radius: 0rem;
    background-color: var(--bg-color-2);
    border: 1px solid var(--input-border-color);
}

.gap-medium {
    gap: .7rem;
}

.basic-button {
    background-color: var(--basic-button-bg-color);
    padding: .5rem;
    border: 1px solid var(--input-border-color);
}

.inner-modal-container {
    background-color: var(--bg-color-1);
    border: 1px solid var(--input-border-color);
}

:root {
    --text-color-1: #5b5b5b;
    --bg-color-1: #f3f3f3;
    --bg-color-2: #fff;
    --input-bg-color: #f5f5f5;
    --input-border-color: #dadada;
    --file-row-bg-color: #eeeeee;
    --basic-button-bg-color: #f5f5f5;
    --icon-color: #5b5b5b;
    --progress-bar-color: #88ff79;
    --modal-bg: rgba(68, 68, 68, 0.58)
}