.file-row {
    width: 100%;
    border: 1px solid var(--input-border-color);
}

.file-row:hover {
    background-color: var(--file-row-bg-color)
}

.file-name {
    /*width: 40rem;*/
}

.file-date, .file-size {
    /*width: 10rem;*/
}